/* Default css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif */
    font-family: system-ui, sans-serif;

}

html{
    scroll-behavior: smooth;
}



  
  body {
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .center{
    text-align: center;
    margin: 0px auto;
}

.stack-sm > * + * {
    margin-top: 0.5rem;
  }
  
  .stack-md > * + * {
    margin-top: 1rem;
  }
  
  .stack-lg > * + * {
    margin-top: 2rem;
  }
  
  .stack-xl > * + * {
    margin-top: 4rem;
  }

/* Css for the Header/Nav */

header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #191A1C;
    flex-wrap: wrap;
    position: relative;
}



.Logo{
    width: 30%;
    height: 100%;
    object-fit: contain;
    margin: 0;
}

nav{
    width: 50%;
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navAnchor{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px 10px;
    position: relative;
    transition: all 0.5s;
}


.navAnchor:hover{
    background-color: #e91e63;
    color: white;
}
.navAnchor::before{
content: "";
position: absolute;
bottom: 0.75rem;
left: 0.75rem;
width: 0.75rem;
height: 0.75rem;
border: 0.1875rem solid #e91e63;
border-width: 0 0 0.1875rem 0.1875rem;
opacity: 0;
transition: all 0.3s;
}

.navAnchor::after{
    content: "";
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    border: 0.1875rem solid #e91e63;
    border-width: 0.1875rem 0.1875rem 0 0;
    opacity: 0;
    transition: all 0.3s;
    }

    .navAnchor:hover::before{
        opacity: 1;
        bottom: -0.5rem;
        left: -0.5rem;
    }

    .navAnchor:hover::after{
        opacity: 1;
        top: -0.5rem;
        right: -0.5rem;
    }

    .nav-toggle{
        display: none;
    }

    

     
/* End of header Css */

/* hero section start */
.container{
  position: relative;
  text-align: center;
  height: auto;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 200px 100px 200px; 
  column-gap: 10px;
  row-gap: 10px;
  justify-items: center;

  border-color: black;

}

#background-nebula{
  position: relative;
  z-index: -1;
  overflow-x:hidden;
  background-image: url(Assets/bubble_gum_nebula.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}


/* added container but this should probably be changed - it might also be wise to put the image in the HTML rather than as a background img */

.middle-center{
  position: absolute;
  grid-row: 1;
  place-self: center;
  color: rgb(15, 15, 58);
  padding: 20px;
  z-index: 1;
}
/* end of hero section */

/* added in text class for on top of the image and aligned it left */
img{
max-width: 100%;
max-height: 100%;
margin: auto;
position: relative;
}

/* css for main */
main{
    width: 100%;
    min-height: 100vh;
    padding: 20px 0px;
}
/* end of main css */

/* css for service section */
.services{
    width: 95%;
    height: auto;
    margin: 0px auto;
    padding: 10px 0px;
}

.servicesContainer{
    width: 100%;
    height: auto;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.serviceHeader{
    color: #e91e63;
    font-size: 1.5rem;
}

.card{
    position: relative;
    width: 18.75rem;
    height:25rem ;
    background-color: whitesmoke;
    transition: 0.5s;
    margin: 10px;
}

.card:hover{
    box-shadow: 0 30px 50px rgba(0,0,0,0.2);
}

.face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face1{
    padding:1.25rem;
    text-align: center;
    background-color: white;
    color: #013d4a;
}

.face1 h2{
    margin: 5rem 0 1rem 0;
}

.face1 h4{
    display: inline-block;
    margin-top: 1.25rem;
    padding: 0.3125rem 0.625rem;
    border: 2px solid #e91e63;
    font-size: 2rem;
    color: #e91e63;
}

.face2{
    background-color: #c1e8e8;
    background-image: url(Assets/bubble_gum_nebula.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
    border: solid #191A1C 1px;
}

.face2 .serviceImg{
   width: 65%;
    color: white;
    transition: 0.5s;
}

.card:hover .face2{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    top:2.5rem;
    left:50%;
    transform: translateX(-50%);
    background-color: #c1e8e8;
    border: 2px solid #191A1C;
}

.card:hover .face2 .serviceImg{
    color: white;
    font-size: 32px;
}

ion-icon{
    color: white;
    font-size: 32px;
}
/* end of service section css */


/* About Section */
.about{
    width: 100%;
    min-height: 100vh;
    margin: 0px auto;
    padding: 0px 0px;
    background-color: #0FC0C0;
}

.AboutIntro{
    width: 100%;
    height: auto;
    min-height: 40%;
    background-color: #191A1C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.AboutIntro h2{
    font-size: 1.7rem;
}

.AboutIntro p{
    width: 70%;
    font-size: 1.2rem;
}

.aboutCTA{
    padding: 10px 35px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #e91e63;
}

.AboutContainer{
    width: 90%;
    height: auto;
    min-height: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.AboutContainer img{
    width: 40%;
   
}

.aboutText{
    width: 50%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutText h2,h4,p{
    width: 80%;
    margin: 5px auto;
}
/* End of About section */

/* start of team section css */

figure{
    position: relative;
    max-width: 400px;
    height:25rem ;
    /* background-color: whitesmoke; */
    transition: 0.5s;
    margin: 10px;
    box-shadow: 0 30px 50px rgba(0,0,0,0.2);
    padding-bottom: 40px;
}
figure:hover{
    box-shadow: 0 30px 50px rgba(0,0,0,0.2);

}

.toggle{
opacity: 0;
}

.tog:hover{
opacity: 0;
}

 .toggle:hover{
 opacity: 100;
 padding:1.25rem;
 text-align: center;
 background-color: white;
 color: #013d4a;
 }
/* end of team section css */

/* start of contact us section css */
.box-sizing{
    box-sizing: border-box;
}
.legend{
  padding: 20px;
}

textarea{
    max-width: 350px ;
    resize: vertical; 
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #e91e63;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #c1e8e8;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* end of contact us section css */

 /* footer */
footer{
    width: 100%;
    height: 500px;
    background-color: #191A1C;
}
 /* end of footer */

/* Media Query */

@media only screen and (max-width: 1000px) {
/* Css for the Header/Nav */
nav{
    width: 60%;
}
/* End of header Css */

/* about */
.aboutText h2, h4, p {
    width: 95%;
    margin: 5px auto;
}

.AboutContainer img{
    width: 45%;
}
/* end of about */
}


@media only screen and (max-width: 800px) {
/* Css for the Header/Nav */
header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


nav{
    width: 60%;
    margin: 20px auto;
}

.Logo{
    width: 50%;
    height: 100%;
    object-fit: contain;
}
/* End of header Css */

/* about */
.AboutIntro p{
    width: 90%;
    font-size: 1.2rem;
}

.AboutContainer {
    flex-direction: column;
}

.aboutText {
    width: 90%;
 margin-left: auto;
 margin-right: auto;
}

.aboutText h2, h4, p {
    width: 99%;
    margin: 5px auto;
}

.aboutText h2,h4{
    text-align: center;
}
/* end of about */

}

@media only screen and (max-width: 650px) {
/* Css for the Header/Nav */

header{
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 15vh;
}

.Logo{
    width: 50%;
    height: 100%;
    object-fit: contain;
}

nav{
    width: 100%;
    height: 100vh;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #191A1C;
    opacity: 1;
    padding: 0px 0%;
    margin: 0 auto;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
    z-index: 10000000;
}

.navigation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.navAnchor{
    color: #0FC0C0;
}



.nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background-color: black;
        height: 3px;
        width: 2em;
        border-radius: 2px;
        position: relative;
        cursor: pointer;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: "";
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 8px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }

    .nav-toggle-label{
        cursor: pointer;
    }



    .nav-toggle:checked ~ nav {
        transform: scale(1, 1);
    }

    .nav-toggle:checked~nav a {
        opacity: 1;
    }

    /* about */
    .AboutContainer img {
        width: 70%;
        margin: 10px auto;
    }
    /* end of about */
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }

}


