/* Default css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;    
}

html{
    scroll-behavior: smooth;
}



  
  body {

  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }

  img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: relative;
    }

section{
     width: 100%;
     height: auto;
    margin: 0px auto;
    padding: 0px 0px;
    }

  .center{
    text-align: center;
    margin: 0px auto;
    color:#0b307c;
    font-size: 1.5rem;
}

.stack-sm > * + * {
    margin-top: 0.5rem;
  }
  
  .stack-md > * + * {
    margin-top: 1rem;
  }
  
  .stack-lg > * + * {
    margin-top: 2rem;
  }
  
  .stack-xl > * + * {
    margin-top: 4rem;
  }

  

/* Css for the Header/Nav */

header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0b307c;
    flex-wrap: wrap;
    position: relative;
}

.Logo{
    width: 30%;
    height: 100%;
    object-fit: contain;
    margin: 0;
}

nav{
    width: 50%;
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.navAnchor{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px 10px;
    position: relative;
    transition: all 0.5s;
}


.navAnchor:hover{
    background-color: #019bfc;
    color: white;
}
.navAnchor::before{
content: "";
position: absolute;
bottom: 0.75rem;
left: 0.75rem;
width: 0.75rem;
height: 0.75rem;
border: 0.1875rem solid #019bfc;
border-width: 0 0 0.1875rem 0.1875rem;
opacity: 0;
transition: all 0.3s;
}

.navAnchor::after{
    content: "";
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    width: 0.75rem;
    height: 0.75rem;
    border: 0.1875rem solid #019bfc;
    border-width: 0.1875rem 0.1875rem 0 0;
    opacity: 0;
    transition: all 0.3s;
    }

    .navAnchor:hover::before{
        opacity: 1;
        bottom: -0.5rem;
        left: -0.5rem;
    }

    .navAnchor:hover::after{
        opacity: 1;
        top: -0.5rem;
        right: -0.5rem;
    }

    .nav-toggle{
        display: none;
    }
/* End of header Css */
    
/* block containers */
.grid-container{
    position: relative;
    text-align: center;
    height: auto;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 200px 100px 200px; 
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    border-color: black;
  }
  .flex-Container{
    width: 100%;
    height: auto;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

  main{
    width: 100%;
    min-height: 100vh;
    padding: 20px 0px;
}


/* hero section start */
#background-nebula{
  position: relative;
  z-index: -1;
  overflow-x:hidden;
  background-image: url(Assets/bubble_gum_nebula.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.middle-center{
  position: absolute;
  grid-row: 1;
  place-self: center;
  color: rgb(15, 15, 58);
  padding: 20px;
  z-index: 1;
}
/* end of hero section */


/* css for service section */






.card{
    position: relative;
    width: 18.75rem;
    height:27rem ;
    background-color: whitesmoke;
    transition: 0.5s;
    margin: 10px;
}

.card:hover{
    box-shadow: 0 30px 50px rgba(0,0,0,0.2);
}

.face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face1{
    padding:1rem 0rem;
    text-align: center;
    background-color: white;
    color: #013d4a;
}

.face1 p{
   color: #0b307c;
}

.face1 h2{
    margin: 5rem 0 1rem 0;
}

.face1 h3{
    display: inline-block;
    margin-top: 1.25rem;
    padding: 0.3125rem 0.625rem;
    border: 2px solid #0b307c;
    font-size: 2rem;
    color: #019bfc;
}

.face2{
    background-color: #7cc4fd;
    border-radius: 10%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.face2 .serviceImg{
   width: 65%;
    color: white;
    transition: 0.5s;
}

.card:hover .face2{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    top:2.5rem;
    left:50%;
    transform: translateX(-50%);
    background-color: #c1e8e8;
    border: 2px solid #191A1C;
}

.card:hover .face2 .serviceImg{
    color: white;
    font-size: 32px;
}

/* end of service section css */


/* About Section */

#aboutsection{
    width: 100%;
    height: 100vh;
    background-color: red;
}

.about{
    background-color: #0b2f78;
}


.AboutIntro{
    width: 100%;
    height: auto;
    min-height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.AboutIntro h2{
    font-size: 1.7rem;
}

.AboutIntro p{
    width: 70%;
    font-size: 1.2rem;
}

.aboutCTA{
    padding: 10px 35px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #e91e63;
}

.aboutText{
    width: 50%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutText h2, h3, p{
    width: 85%;
    margin: 5px auto;
    color: white;
}
/* End of About section */

/* start of team section css */

figure{
    position: relative;
    max-width: 400px;
    height:25rem ;
    transition: 0.5s;
    margin: 10px;
    box-shadow: 0 30px 50px rgba(0,0,0,0.2);
    padding-bottom: 40px;
}
figure:hover{
    box-shadow: 0 30px 50px rgba(0,0,0,0.2);

}

.toggle{
opacity: 0;
}

.tog:hover{
opacity: 0;
}

 .toggle:hover{
 opacity: 100;
 padding:1.25rem;
 text-align: center;
 background-color: white;
 color: #013d4a;
 }
/* end of team section css */

/* start of contact us section css */
.box-sizing{
    box-sizing: border-box;
}
.legend{
  padding: 20px;
  display: flex;
  justify-content: center;
}

textarea{
    max-width: 350px ;
    resize: vertical; 
}
input[type=text],[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #e91e63;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #c1e8e8;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* end of contact us section css */

 /* footer */
footer{
    width: 100%;
    height: 15vh;
    background-color: #191A1C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    background-color: #0b307c;
}

footer p{
    width: auto;
}

.footerimg{
    width: 15%;
}

.footerNav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

 /* end of footer */

/* Media Query */

@media only screen and (max-width: 1000px) {
/* Css for the Header/Nav */
nav{
    width: 60%;
}
/* End of header Css */

/* about */
.aboutText h2, h3, p {
    width: 95%;
    margin: 5px auto;
}


/* end of about */
}


@media only screen and (max-width: 800px) {
/* Css for the Header/Nav */
header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


nav{
    width: 60%;
    margin: 20px auto;
}

.Logo{
    width: 50%;
    height: 100%;
    object-fit: contain;
}
/* End of header Css */

/* about */
.AboutIntro p{
    width: 90%;
    font-size: 1.2rem;
}

.AboutContainer {
    flex-direction: column;
}

.aboutText {
    width: 90%;
 margin-left: auto;
 margin-right: auto;
}

.aboutText h2, h3, p {
    width: 99%;
    margin: 5px auto;
}

.aboutText h2,h3{
    text-align: center;
}
/* end of about */

}

@media only screen and (max-width: 650px) {
/* Css for the Header/Nav */

header{
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 15vh;
}

.Logo{
    width: 50%;
    height: 100%;
    object-fit: contain;
}

nav{
    width: 100%;
    height: 100vh;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #191A1C;
    opacity: 1;
    padding: 0px 0%;
    margin: 0 auto;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
    z-index: 10000000;
}

.navigation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.navAnchor{
    color: #019bfc;
}



.nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background-color: black;
        height: 3px;
        width: 2em;
        border-radius: 2px;
        position: relative;
        cursor: pointer;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: "";
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 8px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }

    .nav-toggle-label{
        cursor: pointer;
    }



    .nav-toggle:checked ~ nav {
        transform: scale(1, 1);
    }

    .nav-toggle:checked~nav a {
        opacity: 1;
    }

    /* about */
    .AboutContainer img {
        width: 70%;
        margin: 10px auto;
    }
    
    /* end of about */
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }

      footer{
        height: 25vh;
      }

      .footerNav{
        width: 1px;
        min-width: 300px;
        height: auto;
        flex-direction: row;
    }

    .footerimg {
        width: 30%;
    }

}

/* CSS graveyard */

/* .AboutContainer{
    width: 100%;
    height: auto;
    min-height: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
} */

/* .services{
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px 0px;
} */

/* .about{
    width: 100%;
    min-height: 100vh;
    margin: 0px auto;
    padding: 10px 0px;
    background-color: #0b2f78;
} */
/* .serviceHeader{
    color:#0b307c;
    font-size: 1.5rem;
} */